
<link rel="stylesheet" href="./Content/app.css">
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align: center"><%= title %></h1>
    <p class="lead" style="text-align: center">Welcome to Prakhar's <%= title %> Page</p>
    <hr class="my-4">

    <div class="card">
      <div class="card-header">
        <h3>What Is My Goal?</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">Who Am I?</h5>
        <p class="card-text">I offer a range of services such as developing high-quality websites, designing, and offering constructive feedback to enhance their projects.</p>
        <a href="./about" class="btn btn-primary">Learn More</a>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h3>Vision</h3>
            <p class="card-text mb-auto">I am a driven individual with a growth mindset, constantly seeking new opportunities to learn and improve. My strong work ethic and diverse skill set allow me to tackle any challenge that comes my way. I am dedicated to achieving my goals and am always looking for ways to elevate myself in every aspect of my life. To support my personal and professional growth, I engage in regular physical activity such as gymming and yoga to maintain a healthy body and mind. I am also a voracious reader, particularly interested in the study of human psychology, which gives me a deeper understanding of the world around me. Additionally, I have a passion for fashion and the impact of technology on personal style. In conclusion, I am constantly striving for self-improvement, both in my personal and professional life, and am dedicated to achieving my goals and elevating myself every day.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h3>Contact?</h3>
            <p class="card-text mb-auto">Let me know if you have some queries through the contact page.</p>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>